@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Inter:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*Deixar a fonte ainda mais "suavizada"*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    text-align: center;
    padding-top: 160px;
    height: 100vh;
    background: url(../img/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', sans-serif;
}

h3{
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}

h3 span{
    color: #FFC700;
}

h1{
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    color: #FFC700;
    font-family: 'Emilys Candy', cursive;
}

p{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 72px;
    color: #fff;
    opacity: 0.6;
}

a{
    padding: 12px 32px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.play-now, a:hover{
    background: #FFC700;
    color: #000;
    text-decoration: none;
}